<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.like.common">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--authorities 路径 前面为包名，后面为fileprovider固定值，使用包名便于区分-->
        <!--exported="false" 是否支持其它应用调用当前组件 ，要求为flase-->
        <!--@xml/filepaths 在res目录下定义的filepaths.xml文件，名字可以自定义-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--拍照需要-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

            <!--安装apk文件需要-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/downloadfilepaths" />
        </provider>

        <activity
            android:name="com.like.common.view.dragview.view.DragViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />

    </application>

</manifest>
